.App {
  font-family: sans-serif;
  text-align: center;
}

#components-form-demo-normal-login .login-form {
  max-width: 250px;
  margin: auto;
  position: relative;
  top: -50%;
  transform: translateY(50%);
  z-index: 10;
  border-radius: 5px;
  background-color: rgba(255,255,255,.45);
  padding: 25px 10px 0;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.isloading{
  font-weight: bold;
  font-size: 20px;
  text-align: center
}